<!DOCTYPE html>

<html xmlns:th="https://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'employeeoverview')}">

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
	integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css"
	integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
<!-- <link rel="stylesheet" href="../css/shards.min.css"> -->
</head>

<body>
	<div class="container my-5">
		<h3>Employee Details</h3>
		<div class="card">
			<div class="card-body">
				<div class="col-md-10">
					<form action="#" th:action="@{/updateEmployee/{id}(id=${employee.id})}" th:object="${employee}"
						method="post">
						<div class="row">
							<div class="form-group col-md-8">
								<label for="name" class="col-form-label">First Name</label> <input type="text"
									class="form-control" id="firstName" placeholder="firstName" th:field="*{firstName}">
							</div>
							<div class="form-group col-md-8">
								<label for="name" class="col-form-label">Last Name</label> <input type="text"
									class="form-control" id="lastName" placeholder="lastName" th:field="*{lastName}">
							</div>
							<div class="form-group col-md-8">
								<label for="name" class="col-form-label">Location</label> <input type="text"
									class="form-control" id="location" placeholder="location">
							</div>
							<div class="form-group col-md-8">
								<label for="email" class="col-form-label">Phone #</label> <input type="text"
									class="form-control" id="phoneNum" placeholder="Phone#">
							</div>

							<div class="form-group col-md-8">
								<a th:href="@{../dependentListOverview/{id}(id=${employee.id})}"
								class="btn btn-primary">Dependents
								<i class="glyphicon glyphicon-user fas fa-user-edit ml-2"></i></a>
							</div>

							<div class="form-group col-md-8">
								<a th:href="@{../editBenefits/{id}(id=${employee.id})}"
								class="btn btn-primary">Benefits
								<i class="glyphicon glyphicon-user fas fa-user-edit ml-2"></i></a>
							</div>

							<div class="form-group col-md-8">
								<a th:href="@{/employeeBenefitsOverview.html}"
								class="btn btn-primary">Update
								<i class="glyphicon glyphicon-save fas fa-user-edit ml-2"></i></a>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</body>

</html>